body {
    padding-top:10px;
}

.cart {
    position: fixed;
    top: 150px;
    right: 20px;
    width: 250px;
    border: 1px solid #ccc;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 5px;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background: #0c0c0c;
    padding: 10px 0;
    height:100px;
    margin-top: 50px;
}

.player-card {
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}
